::-webkit-datetime-edit { padding: 0 0 1em 0;}
::-webkit-datetime-edit-text { color: rgba(105,105,105, 0.8);; padding: 0 0.3em; text-transform: uppercase; }
::-webkit-datetime-edit-month-field { text-transform: uppercase;color: rgba(105,105,105, 0.8);; }
::-webkit-datetime-edit-day-field { text-transform: uppercase;color: rgba(105,105,105, 0.8);; }
::-webkit-datetime-edit-year-field { text-transform: uppercase;color: rgba(105,105,105, 0.8);; }
::-webkit-inner-spin-button { display: none; }




@mixin block {
    width: 25vw;
    border-radius: .2em;
    text-align: center;
    
}



@mixin gridItems {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(168,168,168, 0.8);
    border-radius: .5em;
    padding: 10px;
    text-align: center;  
}

@mixin inputStyling {
    color:rgba(105,105,105, 0.8);
    border: 1px solid white;
    border-radius: .5em;
    
    &:hover {
        border: 1px solid rgba(168,168,168, 0.8);
    }
}

.date {
    @include inputStyling;
    grid-area: date;
    width: 17vw;
}

.venue{
    @include inputStyling;
    grid-area: venue;
    //color:red;
    padding-bottom: 2vh;
    color:rgba(105,105,105, 0.8) !important;
    width: 17vw; 
}

.band{
    @include inputStyling;
    width: 17vw;
    padding-bottom: 2vh;
    color:rgba(105,105,105, 0.8);
    grid-area: band;
    
}

.cssGridForm {
    width: 50vw;
    max-width: 500px;
    display: grid;
    @include gridItems;
    //background-color: gray;
    grid-template-areas: 
        'band'
        'date'
        'venue'
        'null'
       'button';
    grid-template-rows: auto auto auto auto;
}

.defaultButton{
    width: 12vw;
    max-width: 100px;
    text-align: left;
    grid-area: button;
    padding-left:0;
    color: rgb(105,105,105);
    border-radius: .5em;
    background-color: white;
    border: 1px solid white;
    &:hover {
        background-color: rgb(208,208,208);
        border: 1px solid gray;
    }
}






@mixin showBlock {
    //height:15vh;
    border: 1px solid rgba(168,168,168, 0.8);
    border-radius: .5em;
    padding: 10px;
    //background-color: gray;
    margin-top: 1vh;
}

.showName{
    grid-area: showName;
    margin-right: 2em;
}

.magicDiv{ visibility: hidden; }



.showDetails {
    grid-area: showDetails;
}

.showDiv {
    @include showBlock;

    width: 50vw;
    max-width: 500px;
    display: grid;
    grid-template-areas: 
        'showName showName showName'
        'showDetails showDetails showDetails'
        'deleteify null null'; 
     grid-template-rows: auto auto auto;

    &:hover .magicDiv{
        visibility: visible;
        height:100%;
        float: left;
        grid-area: deleteify;

        button {
            margin:10% 0 10% 5%;
            height:50%;
        }
    }
}











// @mixin block {
//     width: 25vw;
//     border-radius: .2em;
//     text-align: center;
    
// }

// @mixin gridItems {
//     background-color: rgba(255, 255, 255, 0.8);
//     border: 1px solid rgba(168,168,168, 0.8);
//     border-radius: .5em;
//     padding: 10px;
//     text-align: center;  
// }


// .date {
//     grid-area: date;
//     width: 23vw;
// }

// .venue{
//     grid-area: venue;
//     width: 23vw; 
// }

// .band{
//     width: 23vw;
//     grid-area: band;
//     padding-bottom: 2vh;
// }

// .cssGridForm {
//     width: 50vw;
//     display: grid;
//     @include gridItems;
//     //background-color: gray;
//     grid-template-areas: 
//         'band date'
//         'band venue';
// }


// @mixin showBlock {
//     height:15vh;
//     padding:10px;
//     border: 1px solid rgba(0, 0, 0, 0.8);
//     //background-color: gray;
//     margin-top: 1vh;
// }

// .showName{
//     @include gridItems;
//     grid-area: showName;
//     margin-right: 2em;
// }

// .magicDiv{ visibility: hidden; }



// .showDetails {
//     @include gridItems;
//     // display: grid;
//     // grid-template-rows: auto auto;
//     grid-area: showDetails;
// }

// .showDiv {
//     @include showBlock;
//     max-width: 50vw;
//     display: grid;
//     grid-template-areas: 
//         'showName showName showName'
//         'showDetails showDetails showDetails'; 
//     grid-template-columns: 4fr 4fr 1fr;


//     &:hover .magicDiv{
//         visibility: visible;
//         height:100%;
//         float: left;
//         grid-area: deleteify;

//         button {
//             margin:35% 0 35% 5%;
//             height:30%;
//         }
//     }

// }

