::-webkit-datetime-edit { padding: 0 0 1em 0;}
::-webkit-datetime-edit-text { color: rgba(105,105,105, 0.8);; padding: 0 0.3em; text-transform: uppercase; }
::-webkit-datetime-edit-month-field { text-transform: uppercase;color: rgba(105,105,105, 0.8);; }
::-webkit-datetime-edit-day-field { text-transform: uppercase;color: rgba(105,105,105, 0.8);; }
::-webkit-datetime-edit-year-field { text-transform: uppercase;color: rgba(105,105,105, 0.8);; }
::-webkit-inner-spin-button { display: none; }


body{
  background-color: #E97451;  
}

@mixin block {
    width: 25vw;
    border-radius: .2em;
    text-align: center;
    
}



@mixin gridItems {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1.5px solid rgba(168,168,168, 0.8);
    border-radius: .5em;
    padding: 10px;
    text-align: center;  
}

@mixin inputStyling {
    color:rgba(105,105,105, 0.8);
    border: 1px solid white;
    border-radius: .5em;
    font-size: 14px;
    line-height: 2;
    
    &:hover {
        border: 1px solid rgba(168,168,168, 0.8);
    }
}

.date {
    @include inputStyling;
    grid-area: date;
    width: 17vw;
}

.venue{
    @include inputStyling;
    grid-area: venue;
    //color:red;
    margin-bottom: 1vh;
    color:rgba(105,105,105, 0.8) !important;
    width: 17vw; 
}

.band{
    @include inputStyling;
    width: 17vw;
    margin-bottom: 1vh;
    color:rgba(105,105,105, 0.8);
    grid-area: band;
    
}

.cssGridForm {
    width: 50vw;
    max-width: 500px;
    margin:auto;
    display: grid;
    @include gridItems;
    //background-color: gray;
    grid-template-areas: 
        'band'
        'date'
        'venue'
        'null'
       'button';
    grid-template-rows: auto auto auto auto;
}

.defaultButton{
    width: 12vw;
    max-width: 100px;
    text-align: left;
    grid-area: button;
    padding-left:0;
    color: rgb(105,105,105);
    border-radius: .5em;
    background-color: white;
    border: 1px solid white;
    &:hover {
        background-color: rgb(208,208,208);
        border: 1px solid gray;
    }
}






@mixin showBlock {
    //height:15vh;
    border: 1px solid rgba(168,168,168, 0.8);
    border-radius: .5em;
    padding: 10px;
    //background-color: gray;
    margin-top: 1vh;
}

.showName{
    grid-area: showName;
}

.magicDiv{ visibility: hidden; }



.showDetails {
    grid-area: showDetails;
}

.showDiv {
    background-color: white;
    @include showBlock;
    margin: 2vh auto 1vh auto;
    width: 50vw;
    max-width: 500px;
    display: grid;
    grid-template-areas: 
        'showName showName showName'
        'showDetails showDetails showDetails'
        'deleteify null null'; 
     grid-template-rows: auto auto auto;

    &:hover .magicDiv{
        -webkit-transition:  .5s ease-in-out;
        visibility: visible;
        height:100%;
        float: left;
        grid-area: deleteify;

        button {
            margin:10% 0 10% 5%;
            height:50%;
        }
    }

    &:hover {
        -webkit-transition: transform .25s ease-in-out;
        transform: scale(1.05);
    }
}

.showList{
    max-width: 50vw;
    margin:auto;
    text-align: center;
    background-color: #E97451;
}

